<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619150386416-antl4csno4nn856gg2n1nepcbf31aqlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619150386416-antl4csno4nn856gg2n1nepcbf31aqlt</string>
	<key>API_KEY</key>
	<string>AIzaSyCEfWn8EWgUqEQd0rYnc9_kMNkO9ObfTas</string>
	<key>GCM_SENDER_ID</key>
	<string>619150386416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KingRichCoding.Restaurant-Recommendations</string>
	<key>PROJECT_ID</key>
	<string>restaurant-recommendatio-65392</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-recommendatio-65392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619150386416:ios:3162787f4d28534e6ece35</string>
</dict>
</plist>